.sidebar {
  background: $color-1;
  font-family: $font-1;
  min-width: 18rem;
  border-radius: $borderRadius;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.75fr 1fr 0.25fr;
  box-shadow: 0px 0px 5px $color-3;
  height: $minHeight;

  grid-template-areas:
    "1"
    "2"
    "3";

  .id {
    grid-area: 1;
    text-align: center;
    user-select: none;
    position: relative;

    .idContent {
      position: absolute;
      bottom: 45%;
      left: 50%;
      transform: translate(-50%, 50%);
      width: Min(calc(80%), calc(25vh));
      aspect-ratio: 1 / 1;

      .avatar {
        position: relative;
        background: radial-gradient(rgba(0, 255, 0, 0.3), rgba(0, 255, 0, 0.05));

        border-radius: 50%;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 5px $color-3;

        transition: transform 100ms ease-in-out;

        &:after {
          content: '';
          width: inherit;
          background: url('../../media/RESCUE2.svg') no-repeat center/cover;
          z-index: -1;
          // filter: brightness(80%);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          transition: background-image 0.2s ease-in-out, transform 0.2s ease-in-out;
        }

        &:hover:after {
          background: url('../../media/RESCUE.svg') no-repeat center/cover;
          transform: scale(1.02);
          /* Equal to scaleX(0.7) scaleY(0.7) */
        }
      }

    }
  }

  .navigation {
    grid-area: 2;
    padding: 1rem;

    ul {
      height: 100%;
      display: grid;

      li {
        padding: 0rem 0 0rem .4rem;
        font-size: 1.3rem;
        position: relative;

        &:hover i {
          transform: translate(3px, 3px);
        }

        a {
          color: $color-7;
        }

        &:hover a {
          color: $color-3;
        }

        [aria-current] {
          color: $color-5;

        }

        .navActive {
          color: $color-4;
        }

        i {
          font-size: 1.3rem;
          transform: translateY(3px);
          transition: .2s ease;
        }

        span {
          margin-left: 2.7rem;
        }
      }

      .networks-link {
        display: none;
      }
    }
  }

  .socialNetwork {
    grid-area: 3;

    ul {
      display: flex;
      padding: 0 14px;
      justify-content: space-around;

      li {
        font-size: 1.3rem;
        background: $color-5;
        color: $color-1;
        border-radius: 50%;
        padding: .5rem 0.8rem;
        transition: .3s;
        cursor: pointer;

        a:visited {
          color: $color-1;
        }

        &:nth-child(1) {
          padding: .5rem .85rem
        }

        &:nth-child(4) {
          padding: .5rem .75rem
        }

        &:hover {
          background: $color-4;
        }
      }
    }

    .signature {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      text-align: center;
      letter-spacing: 0.1rem;
      font-size: .6rem;

      p {
        color: $color-5;

        &:hover {
          color: $color-4;
        }
      }
    }
  }
}


@mixin sidebarPaysageMobile {
  min-width: auto;
  display: flex;

  .avatar,
  .socialNetwork {
    display: none !important;
  }

  .navigation {
    width: 100%;
    padding: .1rem 1rem;

    ul {
      li {
        padding: 0;
        display: flex;
        align-items: center;

        a {
          i {
            font-size: 2rem;
          }
        }

        span {
          display: none;
        }

        &.networks-link {
          display: flex;
        }
      }
    }
  }
}

// @media only screen /*and (min-aspect-ratio: 16/8)*/ and (max-height:600px) {
// @media only screen and (hover: none) and (pointer: coarse) and (min-aspect-ratio: 16/8) {
// @media only screen and (max-aspect-ratio: 16/9) and (min-aspect-ratio: 4/3),
// only screen and (hover: none) and (pointer: coarse) and (min-aspect-ratio: 4/3) {
//   .sidebar {
//     @include sidebarPaysageMobile
//   }
// }

@media (max-aspect-ratio: 4/3) {

  .sidebar {
    transition: transform 330ms ease-in-out;
    display: flex;
    min-height: 50px;
    margin-bottom: .2rem;
    height: auto;
    position: sticky;
    top: 0rem;
    z-index: 200;
    height: auto;

    .id,
    .socialNetwork {
      display: none;
    }

    .navigation {
      width: 100%;
      padding: .1rem 1rem;

      ul {
        display: flex;
        justify-content: space-around !important;

        li {
          padding: 1rem 0 !important;
        }

        i {
          font-size: 1.4rem !important;
          transform: translateY(-3px) !important;
        }

        span {
          display: none;
        }
      }
    }

    .networks-link {
      display: flex !important;
    }
  }

  .sidebar.is-sticky {
    transform: scale(0.95);
  }

  .sidebar {
    height: auto;
  }
}

.sidebar.samsung {
  @include sidebarPaysageMobile
}