.home {

  .homeContent {
    background: linear-gradient(115deg, $color-1 50%, rgba(0, 255, 0, 0.25) 100%);
    min-height: $minHeight;
    width: 100%;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;
    box-shadow: $shadow;
    margin-left: 1rem;
    @include verticalCenter;
    font-family: var(--fm);
    height: 100%;

    &:after {
      content: '';
      height: 100%;
      width: inherit;
      background: url('../../media/lost-highway.jpg') no-repeat center/cover;
      z-index: -1;
      filter: brightness(50%);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }

  @media (max-aspect-ratio: 4/3) {

    .homeContent {

      min-height: $Height !important;
      width: auto;
      margin-top: 0.5rem;
      margin-left: 0;
    }
  }
}