.networks {

  .networksContent {
    background: linear-gradient(115deg, $color-1 50%, rgba(0,255,0, 0.25) 100%);
    min-height: $minHeight;
    width: 100%;
    height: 100%;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;
    box-shadow: $shadow;
    margin-left:1rem;
    @include verticalCenter;
    &:after {
      content: '';
      height: 100%;
      width: inherit;
      background: url('../../media/lost-highway.jpg') no-repeat center/cover;
      z-index: -1;
      filter: brightness(50%);
      position:absolute;
      top: 50%;
      transform: translateY(-50%);
      width:100%;
    }
      ul {
        width:100%;
        display:flex;
        justify-content:space-evenly;

        li {

          a {
            font-size: 3rem;
            color: $color-3;
          }
        }
      }
  }

  @media (max-aspect-ratio: 4/3) {

    .networksContent {

      min-height:calc(var(--vh) * 95 - var(--sh))!important;
      width: auto;
      margin-top:0.5rem;
      margin-left:0;
    }
  }

  @media (orientation: portrait) {
    .networksContent {
        ul {
          display:flex;
          flex-direction: column;
          justify-content:space-evenly;
          min-height:calc(var(--vh) * 95 - var(--sh))!important;

          li{
            display:flex;
            justify-content: center;
           
            a{
              font-size: 4rem;
            }
          }
        }
    }
  }
}




